
snippet l "log" b
**Log**
endsnippet

snippet c "check-in" b
**Notes**:
**Soon**:
**Gratitude**:
1.
2.
3.
endsnippet

snippet bff "bold font" iA
*$1$ $0
endsnippet

snippet -> "implies" iA
$\implies$
endsnippet
